body { 
  font-size:16px; 
}

.figuras{
  margin: auto;
}

.home{
	cursor:pointer !important;
}

.footer{
	margin:auto;
	color:blue;
}

#highschool{
	margin-top:-90px;
}


a{
  cursor: pointer;
}

.sb-page-header{
  margin-top: 50px;
  height: 150px;
  background-image: url("/data/eagle.jpg");
  background-position:right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #567EBC;
}


#esther{
  font-size:100px; 
  color: white;
  margin-bottom:30px;
  font-family: 'Great Vibes', cursive;
  }

#desc{
  color: white;
  font-size: 16px;
  margin-left:400px;
  margin-top:-50px;
}


path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.dot{
  stroke: steelblue;
  fill:#D4EFFF;
} 

#content{
  margin-top:100px;
  margin-left:200px;
  font-stretch:expanded;
  
}

.container{
  margin-left:200px;
}


#wrapper{
  margin-left:10%;
  margin-right:10%;
  padding:10px;
}

.texts{
  font: 100px Arial;
  color:black;
}

.pi{
 color:#707070;
 width:60%;
}

.nomargin{
	margin-bottom:0%!important;
}

#myjumbo{
	margin-top:-20px;
	 background: linear-gradient(to right,#99b3ff, white); /* Standard syntax */
}

#cara{
	background-image: url("/images/esther1.png");
	height:200px;
	background-repeat: no-repeat;

}
#cara:hover{
	background-image: url("/images/esther2.jpg");

}

