{% extends 'base/base.html' %}

{% block content %}

<style>
    .container-fluid{
       margin-left:30px;
    }
</style>


<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'imunobio_search' %}">Busca <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Análise
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Conservação</a>
              <a class="dropdown-item" href="#">Cobertura</a>
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="#">In house</a>-->
            </div>
          </li>
        </ul>
      </div>
    </nav>



    {% block imuno %}
    {% endblock %}


</div>

{% endblock %}