<!--Enviar script para lugar adequado-->

{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/core.js' %}"></script>


<div class="container-fluid" style="width:20cm; margin:auto;">
    <br> <br> <br>
    <h1 class="titlegoogle" id="typewriter1"></h1>

    <script type="text/javascript">
    const typewriter = new Typewriter('#typewriter1', {
      loop: false,
    });
    typewriter.typeString('Dê um título a esse lindo trabalho')
        .pauseFor(2500)
        .start();

    </script>
    <br>


    <div class="input mb-3">
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="description" class="form-control" placeholder="Título do trabalho em Inglês">
            <br>
            <input href="#" class="btn" style="float:right; background-color:#E71CAC; color:white;" value="Continuar"
                   type="submit">
        </form>

    </div>


    <br><br>
    <p style="color:red">
        {{ msg }}
    </p>
</div>

{% endblock %}






