{% extends 'base/base.html' %}

{% block content %}

{% load static %}

<style>
 .row p{
 line-height: 30px;
 text-align: justify;
 }
 .ajuda {
  font-family: 'Spartan', sans-serif;
  }

 .mg{
    margin-left:2cm !important;
 }
</style>


<div class="container-fluid mg ajuda">

<div class="row">
    <div class="col-sm-8">

    <h1 style="margin: 0px;">Documentação</h1>
    <br>
    <h2>Assistente de publicação</h2>

        <h4>Utilizando o assistente de publicações: </h4>

        <p>Acesse <a href="{% url 'assistente_publicacao_index' %}">aqui</a> para ter acesso ao
            assistente de publicações</p>
        <p>Primeiramente, nomeie seu projeto, inserindo o nome na caixa de texto que aparecerá ao acessar o Assistente.
            Utilize um arquivo em formato .CSV de sua preferência na etapa de seleção de arquivo. Apenas um arquivo pode
        ser utilizado por vez.</p>
        <h5><b>ATENÇÃO</b>: O arquivo CSV ou XLSX deve seguir as seguintes especificações:</h5>
        <ul>
            <li>Primeira linha do arquivo deve conter os nomes dos campos</li>
            <li>Próximas linhas deverão conter os valores</li>
            <li>Em caso de arquivo excel será carregada somente a aba ativa.</li>
        </ul>
        <p>Uma vez que o arquivo foi carregado, o usuário deverá inserir o tipo de dado de cada uma das colunas manualmente.
        Deve-se, também, modificar o nome da coluna caso julgue necessário. Assinalar o identificador único apenas se for
        uma chave primária.</p>


    <h2>Imuno-bioinformática</h2>

        <p>O Imuno-Bioinformática é um banco de dados versátil, capaz de armazenar diversos tipos de informações.
        Aperte <a href="{% url 'imunobio' %}">aqui</a> para acessá-lo.</p>

    <h2>Ômica integrativa</h2>

        <p>Ômica Integrativa é um serviço que ainda se encontra em estado de desenvolvimento.
            Entre <a href="{% url 'omica' %}">aqui</a>
        para saber mais sobre o projeto.</p>

    </div>
</div>

</div>
{% endblock %}