{% extends 'base/base.html' %}

{% block content %}

<style>
 .row p{
 line-height: 30px;
 text-align: justify;
 }

 .mg{
    margin-left:2cm !important;
 }

</style>


<div class="container-fluid mg">

    <div class="row">
        <div class="col-sm-8">

            <h1 style="margin: 0px;">Esther Reis</h1>
            <br>
            <p>
                Sou mulher, 41 anos, formada em Física pela Universidade Estadual Paulista em 2004.
                Obtive meu título de doutorado em Ciências Biológicas, modalidade Genética com ênfase computacional.
                Há 7 anos me dedico integralmente ao desenvolvimento de software e Ciência de Dados.
                Nesse processo adquiri muita experiência em Engenharia de Dados e por essa razão considero-me
                uma Estrategista de Dados.<br/>
                Nos meus dois últimos trabalhos tive oportunidade de liderar e treinar pequenas equipes,
                o que me proporcionou experiência com gerenciamento ágil de projetos.
                Devido à minha visão interdisciplinar e madura, sou habilidosa em distribuir tarefas e direcionar
                a equipe para o objetivo definido.<br/>
                Minhas experiências de negócios incluem os setores financeiro, de saúde e educação.
                Atuo em projetos de curta duração.
            </p>
        </div>
    </div>


</div>
{% endblock %}