{% extends 'base/base.html' %}

{% block content %}

<style>
 .row p{
 line-height: 30px;
 text-align: justify;
 }

 .mg{
    margin-left:2cm !important;
 }

 .table2{
 width: 800px;
    margin: auto;
    margin-top: 20px;
 }
</style>

<h2 class="table2">Valores</h2>

<table class="table table2 table-bordered">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Descrição</th>
      <th scope="col" class="w-20">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Assinatura</th>
      <td>Utilização mensal do portal para todos os serviços disponíveis.</td>
      <td>R$ 50,00</td>
    </tr>
    <tr>
      <th scope="row">Análise 1</th>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
      <td>R$800,00</td>
    </tr>
    <tr>
      <th scope="row">Análise 2</th>
      <td>Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident</td>
      <td>R$1200,00</td>
    </tr>
  </tbody>
</table>

<br>

<h2 class="table2">Contrato de prestação de serviços</h2>
<p class="table2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum.

</p>

<br>

<h2 class="table2">Sem financiamento? Vamos colaborar.</h2>
<p class="table2">
    Tenho interesse e expertise em diversos segmentos da Bioinformatica e posso participar em regime de co-autoria.
    Agende um horário <a>aqui</a>.
</p>


{% endblock %}