{% extends 'omica/base.html' %}

{% block omica%}

<style>
    .text{
       line-height:30px;
       margin-right:100px;
       font-family: 'Spartan', sans-serif;
    }


</style>


<div class="row text">
    <div class="col-md-2 mb-3">
        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="Introduction"
                   aria-selected="true">Introdução</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Biomarcadores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="false">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-10">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h2>Ômica integrativa</h2>
                <p>A ômica integrativa tem sido um processo útil para a identificação de assinaturas
                    moleculares de cânceres. Em particular, tais análises indicaram prognósticos e
                    terapias direcionadas. </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h2>Detecção de biomarcadores</h2>
                <p>Um biomarcador é uma característica que pode ser objetivamente detectada e avaliada
                    para posteriormente indicar se um processo biológico é normal, patológico ou ainda
                    avaliar a resposta a intervenções terapêuticas.</p>
                <a target="_blank" class="float-right" href="https://www.frontiersin.org/research-topics/16202/biomarker-detection-algorithms-and-tools-for-medical-imaging-or-omic-data">
                    Saiba mais</a>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <h2>Contact</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium
                    eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel
                    ipsam? Facilis, earum!</p>

            </div>
        </div>
    </div>
    <!-- /.col-md-8 -->
</div>


{% endblock%}