body {
    font-family: Helvetica;
}

#header_p, #perfil_empresa_p{
    font-size: 38px;
    font-weight: bolder;
    margin-left: 0.65cm;
}

#container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.chart-container {
    position: relative;
    height:8cm;
    width:8cm;
    margin-left: 0 auto;
}

.bar-chart-container {
    position: relative;
    height:8cm;
    width:13cm
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: grey;
}

.container-fluid{
    margin-top:10px;
}

#row1, #row2, #row3,h1{
    margin-left: 0.5cm;
    margin-top: 1cm;
}


.col {
    float: left;
    width: 50%;
    flex: 50%;
}

.row {
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}