<!DOCTYPE html>
<html lang="pt">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Motiva | Bioinformática</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <!-- trabalho css -->
  <link rel="stylesheet" href="{% static 'css/trabalho.css' %}">
  <!-- Profile style -->
  <link rel="stylesheet" href="{% static 'css/profile.css'%}">
  <!-- SCRIPTS DO MAPA DO PROFILE.HTML -->
  <script src="https://code.highcharts.com/maps/highmaps.js"></script>
  <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/mapdata/countries/br/br-all.js"></script>
  <!-- jQuery -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="{% static 'js/core.js' %}"></script>

</head>

<style>
.vtop{
vertical-align: middle;
}
</style>


<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini" style="background-color:#f4f6f9;">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'home_view' %}" class="nav-link">Home</a>
      </li>
    </ul>

    <ul class="navbar-nav" style="margin:auto; color:gray;">
      <li class="nav-item">
        <h4>{% block title %} {% endblock %}</h4>
      </li>
    </ul>


    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->


      {% block icon %} {% endblock %}



      <li class="nav-item">
        <a class="nav-link" href="#" role="button">
<!--          <i class="fas fa-question-circle"></i>-->
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-slide="true" href="{% url 'logout' %}" role="button">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>

    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar elevation-4" style="background-color: white;">
    <!-- Brand Logo -->
    <a class="navbar-brand" href="https://www.bioinformatica.net.br">

    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
<!--          <img src="{...{ request.user.picture }....}" class="img-circle elevation-2" alt="User Image">-->
          <img src="{% static 'images/fem.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'bio' %}" class="d-block">Esther</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


          <li class="nav-item">
            <a href="{% url 'dsview' %}" class="nav-link">
              <i class="nav-icon fas fa-dice"></i>
              <p class="vtop">
                <b>Ciência de <br/>Dados</b>
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'deview' %}" class="nav-link">
              <i class="nav-icon fas fa-cogs"></i>
              <p class="vtop">
                <b>Engenharia de <br/>Dados</b>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'sdview' %}" class="nav-link">
              <i class="nav-icon far fa-file-code"></i>
              <p class="vtop">
                <b>Desenvolv. <br/>Web</b>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'bio' %}" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p class="vtop">
                <b>Bio da autora</b>
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    {% block content %}
    {% endblock %}


  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">

  </aside>

  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer" style="font-size:12px;">
    <strong>Copyright &copy; 2018-2021 <a href="#">Motiva Serviços ME</a>.</strong>
    Todos os direitos reservados.
<!--    <div class="float-right d-none d-sm-inline-block">-->
<!--      <a href="#">Consulte a tabela de preços</a>-->
<!--    </div>-->
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- AdminLTE -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>

<!-- OPTIONAL SCRIPTS -->
<!--<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>-->
<!-- AdminLTE for demo purposes -->
<!--<script src="{% static 'dist/js/demo.js' %}"></script>-->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script src="{% static 'dist/js/pages/dashboard3.js' %}"></script>-->

<script>
$('[data-widget="pushmenu"]').PushMenu('collapse')
</script>

</body>
</html>


