{% extends 'base/base.html' %}

{% block content %}

<style>
    .container-fluid{
       margin:20px;
    }
</style>


<div class="container-fluid">

{% block omica%}
{% endblock%}

</div>
{% endblock %}