{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<!--<style>-->
<!--    .card{-->
<!--    margin:5px;-->
<!--    height: 150px;-->
<!--    }-->

<!--    .card p{-->
<!--    font-size: 10px;-->
<!--    }-->

<!--    .buttonaction{-->
<!--        position: absolute;-->
<!--        bottom: 10px;-->
<!--        right: 20px;-->
<!--    }-->
<!--    .meustrabalhos{-->
<!--    width:1000px;-->
<!--    margin:auto;-->
<!--    font-family: 'Spartan', sans-serif;-->
<!--    }-->

<!--</style>-->


<div class="container-fluid  meustrabalhos">


    <!--  Fazer um loop para encontrar os trabalhos no banco de dados-->
    <!--    <div class="card-group">-->
    <!--<div class="row" style="margin-top:1cm;">-->
    <!--  <div class="card" style="width: 18rem;">-->
    <!--        <div class="card">-->
    <!--            <div class="card-body">-->
    <!--                <h5 class="card-title">Criar nova publicação</h5>-->
    <!--                <br>-->
    <!--                <p class="card-text">Com suporte a criação de tabelas, corpo de texto e figuras.</p>-->
    <!--                <a href="{% url 'assistente_publicacao' %}" class="btn buttonaction" style="background-color:#E71CAC;"><i class="fa fa-plus" aria-hidden="true"></i></a>-->
    <!--            </div>-->
    <!--        </div>-->


    <div class="row justify-content-center" id="row0">
        <div class="col-11">
            <h1 class="titlegoogle">Meus trabalhos</h1>
            <br/>
            <div class="float-right">
                <a href="{% url 'assistente_publicacao' %}" class="btn buttonaction"
                   style="background-color:#E71CAC;"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <br/>
            <div class="container-table">
                <div class="container-table-sub">
                    {% load render_table from django_tables2 %}


                    {% render_table table %}
                </div>
            </div>
        </div>


        {% for trabalho in trabalhos %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'trabalho' trabalho_id=trabalho.id %}">
                        {{ trabalho.description }}
                    </a>
                </h5>
                <br>
                <p class="card-text">Descrição: xxxx</p>
                <p class="card-text">{{ trabalho.id }}</p>
                <a data-toggle="modal" data-target="#modal{{trabalho.id}}" class="btn buttonaction"><i
                        class="far fa-minus-square"></i></a>
            </div>
        </div>


        <div id="modal{{trabalho.id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content border-0" style="min-height: 200px;">

                    <div class="modal-body p-0">

                        <div class="card" style="width: 98%;">

                            <div class="card-body">
                                <h3>{{trabalho.description}}</h3>
                                <p class="font-weight-bold mb-2"> Tem certeza que deseja excluir esse trabalho?</p>
                                <p class="text-muted "> Ele não poderá mais ser recuperado.</p>

                                <div class="row justify-content-end no-gutters">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-light text-muted" data-dismiss="modal">
                                            Cancelar
                                        </button>
                                    </div>

                                    <div class="col-auto">

                                        <form method="post"
                                              action="{% url 'trabalho_delete' trabalho_id=trabalho.id  %}">
                                            {% csrf_token %}

                                            <!--                                        <input type="submit" class="btn px-4 btn-danger" data-dismiss="modal"/>-->
                                            <button type="submit" class="btn btn-danger">Excluir</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}






