<!--Enviar script para lugar adequado-->

{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<style>

</style>


<div class="container" style="width:95%; margin:auto;">

    <br>
    <h4 class="titlegoogle" id="typewriter2"></h4>
    <br>
    <script type="text/javascript">
    const typewriter = new Typewriter('#typewriter2', {loop: false});
    typewriter.typeString('Os dados fazem sentido?').start();

    </script>

    <form method="post" action="{% url 'trabalho' trabalho_id=trabalho_id %}">
    {% csrf_token %}
    <!--  TABS-->
    <div class="row">

        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-light text-right">
                    <button type="submit" class="btn btn-primary">Próximo</button>
                </div>
            </div>
        </div>



            <div class="col-12">
            <div class="card mt-3 tab-card">
                <div class="card-header tab-card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        {% for result in results %}
                            <li class="nav-item">
                            {% if active_tab == result.key %}
                            <a class="nav-link active" id="{{ result.key }}" data-toggle="tab" href="#{{result.key}}ref"
                                       role="tab" aria-controls="{{ result.key }}_control" aria-selected="true">{{result.key}}</a>
                            {% else %}
                            <a class="nav-link" id="{{ result.key }}" data-toggle="tab" href="#{{result.key}}ref"
                                       role="tab" aria-controls="{{ result.key }}_control" aria-selected="false">{{result.key}}</a>
                            {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-content" id="myTabContent">
                    {% for result in results %}

                    {% if active_tab == result.key %}
                     <div class="tab-pane fade p-3 active show" id="{{ result.key }}ref" role="tabpanel"
                         aria-labelledby="{{ result.key }}">
                    {% else %}
                     <div class="tab-pane fade p-3" id="{{ result.key }}ref" role="tabpanel"
                         aria-labelledby="{{ result.key }}">
                    {% endif %}

                        <h1>Título: {{ result.key }}</h1>
                        <p class="card-text">

                            <div style="width:1000;height:100">

                                    <script>{{ result.key }}</script>

                                    {{ result.graph | safe }}

                            </div>

                        </p>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </form>
</div>

<script>
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  e.target // newly activated tab
  e.relatedTarget // previous active tab
})
</script>


{% endblock %}






