<!--Enviar script para lugar adequado-->

{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<style>
#adicional_info{font-size:10px;}


</style>


<div class="container" style="width:95%; margin:auto;">

    <br>
    <h4 class="titlegoogle" id="typewriter2"></h4>
    <br>
    <script type="text/javascript">
    const typewriter = new Typewriter('#typewriter2', {loop: false});
    typewriter.typeString('Me explique um pouco sobre cada coluna').start();



    </script>

    <form method="post" action="{% url 'processdata' %}">
        {% csrf_token %}
        <!--  TABS-->
        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 bg-light text-right">
                        <button type="submit" class="btn btn-primary">Próximo</button>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mt-3 tab-card">
                    <div class="card-header tab-card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            {% for result in results %}
                            <li class="nav-item">

                                {% if active_tab == result.varkey %}
                                <a class="nav-link active" id="{{ result.varkey }}" data-toggle="tab"
                                   href="#{{result.varkey}}ref"
                                   role="tab" aria-controls="{{ result.varkey }}_control" aria-selected="true">{{result.key}}</a>
                                {% else %}
                                <a class="nav-link" id="{{ result.varkey }}" data-toggle="tab" href="#{{result.varkey}}ref"
                                   role="tab" aria-controls="{{ result.varkey }}_control" aria-selected="false">{{result.key}}</a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        {% for result in results %}

                        {% if active_tab == result.varkey %}
                        <div class="tab-pane fade show active p-3" id="{{ result.varkey }}ref" role="tabpanel">
                            {% else %}
                            <div class="tab-pane fade p-3" id="{{ result.varkey }}ref" role="tabpanel">
                                {% endif %}

                                <p class="card-text">
                                    <script src="{% static 'js/types.js' %}"></script>


                                <div class="form-group row">
                                    <label for="input3{{result.varkey}}" class="col-sm-3 col-form-label">Tipo de
                                        dados</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="input3{{result.varkey}}" style="width:300px;"
                                                name="datatype_{{result.varkey}}" onclick="redirecionar(this)">
                                            <option>Texto</option>
                                            <option>Data</option>
                                            <option>Números Inteiros</option>
                                            <option>Números Reais</option>
                                            <option>Cidade brasileira</option>
                                            <option>Estado brasileiro</option>
                                            <option>Categoria</option>
                                            <option>Sexo</option>
                                        </select>
                                    </div>
                                </div>



                                </p>
                                <!--                        <a href="#" class="btn btn-primary">{{ result.valor1 }}</a>-->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <div class="card mt-3 tab-card" style="padding:10px;">
                        <label class="col-sm-3">Informações adicionais</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Estado em que ocorreu a pesquisa</span>
                            </div>
                            <input type="text" name="estado" class="form-control"
                                   aria-label="">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Identificadores</span>
                            </div>
                                {% for result in results %}
                                <br>
                                <div class="form-check" style="margin:10px;">
                                    <input class="form-check-input" type="checkbox" value="" name="uniquekey_{{result.varkey}}"
                                           id="dfcheck_{{result.varkey}}">
                                    <label class="form-check-label" for="dfcheck_{{result.varkey}}">
                                        {{result.key}}
                                    </label>
                                </div>

                                {% endfor %}

                    </div>
                </div>






                </div>



                <p style="color:red;">{{ msg }}</p>
    </form>
</div>

<script>
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  e.target // newly activated tab
  e.relatedTarget // previous active tab
})


</script>

{% endblock %}






