<!--Enviar script para lugar adequado-->

{% extends 'base/base.html' %}
  {% load static %}
{% block content %}






<div class="container-fluid" style="width:20cm; margin:auto;">
  <br><br>
  <div class="custom-file" id="esconde">

  <form method="post" action="{% url 'assistente_upload_pre' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <input aria-label="Arquivo excel" type="file" class="custom-file-input" id="customFile" name="file">
  <label class="custom-file-label" for="customFile">Escolha o arquivo</label>
  <input style="margin-top: 9cm;" name="pass" type="submit" class="btn btn-primary float-right"/>
  </form>
    <p style="color:red;">{{ msg }}</p>
  </div>
  <br><br>
  <h4 class="titlegoogle" id="typewriter1"></h4>

</div>



  <script type="text/javascript">
    const typewriter = new Typewriter('#typewriter1', {
      loop: false,
    });
    txt = 'Agora vamos fazer o upload dos seus dados. <br> Eles devem estar em um arquivo csv (texto) ou um arquivo excel. Deve seguir a regra: a primeira linha contém os nomes dos campos e as próximas linhas contém valores. Deve haver somente uma aba! Se ainda houver algum problema com seu arquivo, eu te aviso :-P'
    typewriter.typeString(txt)
        .start();



    $(window).on('load', function() {
        var elemento = document.getElementById("esconde");
        elemento.setAttribute('display','block');
    });



  </script>




</div>

<script>
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      console.log($(this));
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>


{% endblock %}






