<html>
{% load static %}
<head>
    <title>Esther Camilo | Bioinformatician</title>
    <script src="{% static 'd3/js/jquery-1.11.3.js' %}"></script>
    <link rel="stylesheet" href="{% static 'd3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'd3/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'd3/css/font-awesome.min.css' %}">
    <script src="{% static 'd3/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'd3/css/style.css' %}">
    <script src="{% static 'd3/js/style.js' %}" charset="utf-8"></script>
	<link href="{% static 'd3/css/theme.css' %}" rel="stylesheet">
    <script src="{% static 'd3/js/d3.js' %}"></script>

    <script src="{% static 'd3/js/box.js' %}"></script>
	<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
<!--              <li>-->
<!--                    <a href="http://esthercamilo.appspot.com" >Esther Camilo</a>-->
<!--              </li>-->
            </ul>
        </div>
    </div>
</nav>



<div id="myjumbo" class="jumbotron rosa">
	<div class="container">
    <h1>D3</h1>
    <p><i>Data Driven Documents</i>, ou seja, uma biblioteca JavaScript que associa dados às representações visuais.</p>
	<p>Uma breve introduçâo para você amar essa ferramenta.</p>
	</div>
</div>

<div class = "container">






<div class="col-md-12">

<div class="col-md-12">
<h2>Associando dados a imagens
</h2>
<p>Você poderia desenhar imagens utilizando a tag SVG diretamente, mas isso seria muito trabalhoso para
grande conjuntos de dados. E quando você quisesse aplicar alguma dinâmica em sua visualizaçâo, esta seria muito limitada.</p>

<p>A bibliteca D3 faz todo o trabalho pesado para você associando seus dados a um objeto DOM. </p>
<p>Para quem já tem familiaridade com JQuery fica muito mais fâ¡cil, pois o D3 tem seletores e funções
como append. Para desenhar nosso primeiro círculo, primeiro salve biblioteca
 <a href="https://raw.githubusercontent.com/mbostock/d3/master/d3.min.js" download target="_blank">d3.min.js</a>
em sua pasta de trabalho.
Depois, crie um arquivo de texto vazio chamado exercicio1.html com o seguinte
conteúdo:
<pre class="prettyprint lang=html">
<script src="d3.min.js"></script>
<div id="circulo">
	<script src="exercicio1.js"></script>
</div>
</pre>
Criamos entâ£o um novo arquivo com o seguinte conteâºdo:
<pre class="prettyprint">
var svg = d3.select("#circulo")
        .append("svg")
		.attr("width",100)
		.attr("height",100);
svg.append("circle")
   .attr("cx",50)
   .attr("cy",50)
   .attr("r",30)
   .style("fill","red");
</pre>
Espero que você tenha conseguido criar seu primeiro objeto SVG usando D3.
</p>
    
<p>
Agora, invpés de adicionarmos somente um círculo, vamos adicionar 6. Seu código ficará assim:
<pre class="prettyprint">
var dados = [{x:20,y:12},{x:50,y:5},{x:7,y:30},{x:8,y:16},{x:11,y:8},{x:3,y:11}];
var svg = d3.select("#circulo")
        .append("svg")
		.attr("width",100)
		.attr("height",100);
svg.selectAll(".circles").data(dados).enter().append("circle")
   .attr("cx",function(d){return d.x;})
   .attr("cy",function(d){return d.y;})
   .attr("r",3)
   .style("fill","red");
</pre>
    É importante observar que utilizamos selectAll(".circles"), mas essa classe ainda nâo existe.
Os dados sâ£o adicionados posteriormente e a função "enter"
faz a associaçâo. Um círculo serâ¡ adicionado para cada dado na array dados e por isso os argumentos
das funâ§âµes attr devem ser funâ§âµes. Assim, d â© cada objeto na array dados.</br>
</p>

</div>

<div class="col-md-12">
<h2>Escalas
</h2>
<p>Uma vez adicionados os pontos, podemos adicionar os eixos. Primeiro devemos criar uma escala de acordo com seus dados.
    Mas também é preciso transformar essas medidas em pixels. A funçâo D3 que faz isso é:

<p><strong>d3.scale.linear()</strong></p>
<p>Ela possui dois m&eacute;todos: <strong>domain</strong> e <strong>range</strong>.
No primeiro sâ£o colocados os extremos reais e no segundo s&atilde;o colocados os valores em pixels correspondentes.
Por exemplo, para plotar distancias entre 0 e 100 km numa escala de 0 a 50 px, as funções ficariam assim:
<pre class="prettyprint">var minhaEscalaX = d3.scala.linear();
minhaEscalaX.domain([0,100]);
minhaEscalaX.range([0,50]);
</pre></p>
<p>Se voc&ecirc; quiser saber a posic&atilde;o da distâ¢ncia 20km no seu grâ¡fico:</p>
<pre class="prettyprint">
minhaEscala(20);
>>10
</pre>
<h2>Plotando os eixos</h2>
<p>Vamos utilizar os seguintes dados como exemplo:</p>
<p><pre class="prettyprint">var data = [{x:10,y:12},{x:5,y:1},{x:7,y:3},{x:8,y:6},{x:1,y:8},{x:3,y:11}];</pre>
</p>
<p>Defina os eixos x, y e depois apenda ao seu svg criado nas etapas anteriores:
<pre class="prettyprint">var xAxis = d3.svg.axis()
    .scale(xScale)
    .orient("bottom")
    .tickPadding(4);

var yAxis = d3.svg.axis()
    .scale(yScale)
    .orient("left")
    .tickPadding(10);

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + yScale.range()[0] + ")")
    .call(xAxis);

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);
</pre></code>
</p>
<div id="plot1"></div>

<p></p>

<h2>Um pouco de dinâ¢mica</h2>
<p>E se os dados forem alterados durante a execuc&atilde;o? Vamos aprender nessa parte
como escrever a func&atilde;o update. Tambem vamos aplicar a func&atilde;o "transition" que faz
as coisas ficarem mais bonitas.</p>
<p>Vamos usar os seguintes dados:</p>
<pre class="prettyprint">var data1 = [{x:10,y:12},{x:5,y:1},{x:7,y:3},{x:8,y:6},{x:1,y:8},{x:3,y:11}];
var data2 = [{x:15,y:2},{x:15,y:11},{x:0.7,y:13},{x:.8,y:16},{x:11,y:.8}];
</pre>
O código JavaScript com a funçâo update() ficará assim:
<pre>
var margins = {"left":30, "right":30, "top":30, "bottom":30};
var width = 400;
var height = 400;

var svg = d3.select("#plot2").append("svg").attr("width", width).attr("height", height).append("g")
.attr("transform", "translate(" + margins.left + "," + margins.top + ")");

svg.append("g").attr("class", "x axis").attr("transform", "translate(0,300)");
svg.append("g").attr("class", "y axis");

var x = d3.scale.linear().domain([0,13]).range([0,300]);
var y = d3.scale.linear().domain([0,13]).range([150,0]);

function update(limX,limY,data,cor){

	x = d3.scale.linear().domain(limX).range([0,400]);
	y = d3.scale.linear().domain(limY).range([300,0]);
    var xAxis = d3.svg.axis().scale(x).orient("bottom");
    var yAxis = d3.svg.axis().scale(y).orient("left");

	svg.selectAll("g.y.axis").transition().call(yAxis);
	svg.selectAll("g.x.axis").transition().call(xAxis);

	var mydata = svg.selectAll(".node").data(data);

	mydata.enter().append("circle")
		.attr("class","node")

	mydata.transition().duration(500)
		.attr("cx",function(d){return x(d.x);})
		.attr("cy",function(d){return y(d.y);})
		.attr("r",5).style("fill",cor);

	mydata.exit().remove();
	}

var data1 = [{x:10,y:12},{x:5,y:1},{x:7,y:3},{x:8,y:6},{x:1,y:8},{x:3,y:11}];
var data2 = [{x:15,y:2},{x:15,y:11},{x:0.7,y:13},{x:.8,y:16},{x:11,y:.8}];

update([0,13],[0,13],data1);

d3.select("#bt1").on("click",function(){return update([0,13],[0,13],data1,"green")});
d3.select("#bt2").on("click",function(){return update([0,17],[0,17],data2,"red")});
</pre>
Também altere o código HTML adicionando uma div para que o SVG possa ser acessado pelo JavaScript assim:
O gráfico ficará assim:
<div id="plot2"></div>
<button class="btn btn-default" id="bt1">Dados 1</button>
<button class="btn btn-default" id="bt2">Dados 2</button>
<!--<h2>O quem vem depois</h2>-->
<!--Eu gosto muito da visualizaçâo de â¡rvores, mas a partir daqui somente o notepad nâ£o â© mais suficiente, pois precisaremos-->
<!--de um servidor para acessar dados em arquivo. Estou usando o <a href="http://appengine.com">GoogleAppEngine</a>,-->
<!--mas o <a href="#">Python</a> oferece uma soluçâo bem mais simples.-->
<p></p>
<p></p>
<p></p>
<p></p>
</div>
</div>

<script src="{% static 'd3/js/d3plots.js' %}"></script>
<script>
$(document).ready(function() {
  $('.prettyprint').html(function(i,h){
    return h.replace(/[<>\"\'\t\n]/g, function(m) { return {
      '<' : '&lt;',
      '>' : '&gt;',
      "'" : '&#39;',
      '"' : '&quot;',
      '\t': '  ',
      '\n': '<br/>' // needed for IE
    }[m]});
  });

  prettyPrint();
});
</script>
</div>
</body>
</html>