{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<style>
    .container-fluid{
       margin:20px;
    }
    .img_swagger{
       width: 600px;
    }
</style>


<div class="container-fluid">

<style>
    .text{
       line-height:30px;
       margin-right:100px;
       font-family: 'Spartan', sans-serif;
    }


</style>


<div class="row text">
    <div class="col-md-2 mb-3">
        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="Introduction"
                   aria-selected="true">Introdução</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Integrações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="false">Modelagens</a>
            </li>
        </ul>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-10">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h2>Engenharia de Dados</h2>
                <p>A Engenharia de Dados é o ramo prático que busca viabilizar o fluxo de dados para posteriores análises
                    e inferências por Cientistas e Analistas. Essa área é focada em infra-estrutura, tipagem, modelagem, disponibilidade
                    e eficiência. Sem um bom trabalho de Engenharia, a qualidade do trabalho do Cientista de Dados fica comprometida.
                    São descritas nas abas seguintes algumas atribuições da Engenheira de Dados.
                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h2>Integrações</h2>
                <p>Informações podem ser integradas entre aplicativos de duas maneiras: APIs ou Webhooks. Na minha prática diária eu
                faço uso da biblioteca Django REST framework para implementá-las e forneço a interface gráfica via Swagger.</p>
                <img class="img_swagger" src="{% static 'images/swagger.png' %}" />

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                <h2>Modelagem de Bancos de Dados</h2>
                <p>Apesar de haver técnicas pré-estabelecidas para a elaboração adequada de um mapa relacional de objetos,
                    a construção efetiva só ocorrerá com conhecimento profundo sobre o negócio.
                Minhas práticas são muito focadas em dados Biológicos, porém, em 2021 tive experiência com dados de risco
                no mercado financeiro e também com marketing. Aqui Django também é utilizado para a modelagem juntamente com
                    o banco de dados Postgres.
                </p>

                <h2>Cloud</h2>
                <p>A maioria dos projetos que desenvolvo está depositados em servidores locais, contudo, faço o deploy em
                instâncias EC2 da AWS, DigitalOcean e Heroku.



            </div>
        </div>
    </div>
    <!-- /.col-md-8 -->
</div>

</div>
{% endblock %}