{% extends 'base/base.html' %}

{% block content %}

<style>
    .container-fluid{
       margin:20px;
    }
</style>


<div class="container-fluid">

<style>
    .text{
       line-height:30px;
       margin-right:100px;
       font-family: 'Spartan', sans-serif;
    }


</style>


<div class="row text">
    <div class="col-md-2 mb-3">
        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="Introduction"
                   aria-selected="true">Introdução</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Análises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="false">Visualizações</a>
            </li>
        </ul>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-10">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h2>Ciência de Dados</h2>
                <p>A Ciência de Dados é a atividade que busca trazer à tona informações antes não conhecidas a partir
                da observação e análise inferencial de dados históricos. Quando praticada respeitando o método científico
                e o rigor estatístico-matemático é capaz de eliminar viéses de juízos, minimizar danos e melhorar desempenhos.
                <br/>
                Para efeitos didádicos, a Ciência de Dados pode ser dividida em duas partes: análise e visualização.
                    Nas abas seguintes são apresentas algumas das principais ferramentas para análise e visualização.
                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h2>Análise Exploratória</h2>
                <p>Busca fazer um compilado do que temos. É uma maneira de trazer à nossa visão o que é mais importante.
                Médias, medianas, desvios padrão fazem parte dessa exploração</p>

                <h2>Análise Inferencial</h2>
                <p>A partir de uma amostra, podemos fazer inferências a respeito de uma população calculando-se seus
                parâmetros. Estão envolvidos os conceitos de probabilidades, distribuição, teste de hipóteses dentre outros</p>
                <h2>Aprendizagem de Máquina</h2>
                A classificação e agrupamento de dados é importante em diversos setores, tais como saúde, marketing e financeiro.
                Há diversas técnicas para realização desses agrupamentos: árvores de decisão, SVM, redes neurais.
                Em meu doutoramento utilizei árvores de decisão.
                <small>Material em construção...</small>
                <p></p>
                <h2>Bibliotecas Científicas</h2>
                Utilizo principalmente as bibliotecas do Python - além das científicas, também as de processamento de dados,
                tais como Pandas, Pyspark, SciKitLearn. Dependendo do trabalho, utilizo as bibliotecas do R - principalmente
                se forem trabalhos que lidam com dados genômicos.
                Fui adepta por muito tempo do Weka para machine learning.
                <p><a href="https://medium.com/@estherreis">Link para material no Medium</a></p>

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                <h2>R & Shiny</h2>
                <p>Se seu propósito é a análise rápida, essa ferramenta é a mais adequada. Além dos scripts gerarem imagens em
                PNG, JPG ou PDF também é possivel usar a ferramenta <b>knit</b> para automatizar a geração de relatórios.</p>
                <p>R também viabiliza o desenvolvimento WEB com o framework Shiny</p>
                <p>Minha jornada com R iniciou há muitos anos. Eu fazia o compartilhamento usando Rpubs </p>
                <p><a href="https://rpubs.com/esthercamilo">https://rpubs.com/esthercamilo</a></p>
                <p>Recentemente faço uso do Shiny</p>
                <p><a href="https://9o2a1b-esther-camilo.shinyapps.io/educaimunobr/?_ga=2.70186585.853620235.1655985051-1368923583.1655985051">
                    https://9o2a1b-esther-camilo.shinyapps.io/educaimunobr/</a></p>


                <h2>Plotly</h2>
                <p>Biblioteca Python para a geração de visualizações dinâmicas. É muito adequada para integrar
                    em aplicativos Django. Abaixo um
                exemplo de visualização gerada usando Plotly</p>

                 {{ graph | safe }}


                <h2>D3.js</h2>
                <p>Se precisa de interatividade, responsividade e velocidade, D3 é a biblioteca Javascript mais adequada.</p>
                <p>Siga esse <a href="{% url 'd3view' %}">link para ver breve tutorial que preparei!</a></p>


            </div>
        </div>
    </div>
    <!-- /.col-md-8 -->
</div>

</div>
{% endblock %}