{% extends 'base/base.html' %}

{% block content %}
{% load static %}
<style>
    .container-fluid{
       margin-top:10px;
    }
    .marginleft{
    margin-left:20px;
    font-family: 'Spartan', sans-serif;
    }
    .marginleft p{
    text-align:justify;
    line-height:30px;
    }

    .img{
    width: 100%;
    }


</style>


<div class="container-fluid marginleft">

    <div class="row">

        <div class="col-sm-11">

            <h1 style="margin: 0px;">Bioinformática</h1>
            <br>
            <h3>Transformando dados genômicos em conhecimento</h3>

            <!--        <p>Em Ciências Biológicas, um dos maiores desafios é dar sentido à enorme quantidade de dados estruturais e-->
            <!--            de sequeciamento gerados a partir dos múltiplos níveis dos sistemas biológicos.-->
            <!--            Neste contexto, são necessárias ferramentas (estatísticas e computacionais)-->
            <!--            capazes de auxiliar no entendimento dos mecanismos subjacentes a tais sistemas.-->
            <!--        </p>-->
            <p>A análise e interpretação de dados biológicos tem tornado-se um aspecto crítico de todo projeto de
                pesquisa
                e a <b>Bioinformática</b> é a ciência híbrida facilitadora deste processo, conectando os dados
                biológicos e técnicas de
                armazenamento de informações, distribuição e análise.</p>

            <p>Escolha um dos <b>menus laterais esquerdo</b> para compreender melhor os pilares computacionais da
                Bioinformática.</p>

            <img class="img" src="{% static 'images/bioinformatics.png' %}">

            <br><br>


<!--            <h3>Imuno-bioinformática</h3>-->

<!--            <p>Uma das análises realizadas aqui é xxxx</p>-->

<!--            <br><br>-->

<!--            <h3>Ômica integrativa</h3>-->

<!--            <p>explicação xxx</p>-->

<!--        <br><br>-->

<!--        <h3>Facilitando sua produção científica</h3>-->

<!--        <p>explicação xxx</p>-->
    <br><br>
        </div>


    </div>


</div>


</div>
{% endblock %}