{% extends 'base/base.html' %}

{% block content %}

<style>
    .text{
       line-height:30px;
       margin-right:100px;
       font-family: 'Spartan', sans-serif;
    }


 .row p{
 line-height: 30px;
 text-align: justify;
 }

 .mg{
    margin-left:2cm !important;
 }

</style>


<div class="container-fluid mg text">

    <div class="row">
        <div class="col-sm-8">

            <h1 style="margin: 0px;">Esther Reis</h1>
            <br>
            <p>
                Sou mulher, 41 anos, formada em Física pela Universidade Estadual Paulista em 2004.
                Obtive meu título de doutorado em Ciências Biológicas, modalidade Genética com ênfase computacional.
                Há 7 anos me dedico integralmente ao desenvolvimento de software e Ciência de Dados.
                Nesse processo adquiri muita experiência em Engenharia de Dados e por essa razão considero-me
                uma Estrategista de Dados.<br/>
                Nos meus dois últimos trabalhos tive oportunidade de liderar e treinar pequenas equipes,
                o que me proporcionou experiência com gerenciamento ágil de projetos.
                Devido à minha visão interdisciplinar e madura, sou habilidosa em distribuir tarefas e direcionar
                a equipe para o objetivo definido.<br/>
                Minhas experiências de negócios incluem os setores financeiro, de saúde e educação.
                Atuo em projetos de curta duração.
            </p>
            <br/>
            <p><a href="{% url 'download' 'resume' %}"><i class="fas fa-download"></i></a>&nbsp;Resume English (short version)</p>
            <p><a href="{% url 'download' 'pesquisador' %}"><i class="fas fa-download"></i></a>&nbsp;CV Pesquisador Lattes</p>
            <p><a href="{% url 'download' 'explicativo' %}"><i class="fas fa-download"></i></a>&nbsp;Material explicativo: Estratégia de Dados</p>
            <p><a href="{% url 'download' 'cover' %}"><i class="fas fa-download"></i></a>&nbsp;Carta de rosto</p>
            <p><a href="{% url 'download' 'grifado' %}"><i class="fas fa-download"></i></a>&nbsp;Material completo e grifado
            para quem não tem tempo e precisa de ajuda para focar no importante.</p>
        </div>
    </div>


</div>
{% endblock %}