{% extends 'base/base.html' %}

{% block content %}

<style>
    .container-fluid{
       margin:20px;
    }
</style>


<div class="container-fluid">

<style>
    .text{
       line-height:30px;
       margin-right:100px;
       font-family: 'Spartan', sans-serif;
    }


</style>


<div class="row text">
    <div class="col-md-2 mb-3">
        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="Introduction"
                   aria-selected="true">Histórico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Python & Django</a>
            </li>

        </ul>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-10">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h2>Java, Spring, Hibernate ... até 2011</h2>
                <p>Iniciei o aprendizado de desenvolvimento web com Java. Mas em 2011 tive contato com Python e essa
                    história acaba aqui.
                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h2>Google AppEngine</h2>
                <p>Meu primeiro contato com Flask foi intermediado pela ferramenta cloud do google em meados de 2013.
                Logo depois entrei em contato com Django e não mudei mais de ferramenta.</p>
                <h2>Django</h2>
                <p>Como meu foco é Ciência e Engenharia de Dados, eu utilizo Django e Bootstrap para montar apresentações
                visualmente agradáveis sem muito custo. Esta aplicação que você vê foi desenvolvida usando o Django framework
                e seu deploy foi feito num droplet da DigitalOcean.</p>

            </div>

        </div>
    </div>
    <!-- /.col-md-8 -->
</div>

</div>
{% endblock %}