{% extends 'assistente/trabalho/trabalho_base.html' %}
{% load static %}

<!-- FIGURAS -->

{% block figuras %}

<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">Figuras</a>
            {% for arquivo in arquivos %}
            <a class="list-group-item list-group-item-action" id="fig-list-header" data-toggle="list"
               href='{{arquivo.caminho}}' download="{{arquivo.nomeArquivo}}">{{arquivo.nome}}</a>
            {% endfor %}
        </div>
        <a data-toggle="modal" data-target="#modal-{{trabalho.id}}" class="btn btn-primary"
           id="button-small"><i
                class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
</div>

{% endblock %}

{% block graficos %}

<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active">
        <h6><b>Gráficos</b></h6>
    </button>
    <button type="button" class="list-group-item list-group-item-action"><a href='{{arquivo.caminho}}'
                                                                            download="{{arquivo.nomeArquivo}}">{{arquivo.nome}}</a>
    </button>
    <!-- TODO: modificar href da linha acima para o link dos graficos -->
</div>


{% endblock %}

{% block tabelas %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><b>Lista de Tabelas</b></h5><br>
        <div class="list-group-item">
            <p>ITEM 1</p>
        </div>
    </div>
</div>
{% endblock %}

{% block visualizer %}
<div class="col-8">
    <div class="tab-content" id="nav-tabContent">
        {% for arquivo in arquivos %}
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            {{arquivo.nome}}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
