{% extends 'base/base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid trabalho">
    <h3>{{ trabalho.description }}</h3>

    <p style="color:red">{{ msg }}</p>
    <div class="row">
        <div class="col-sm-4 cardleft">
            <div class="card">
                <div class="card-body">
                    {% block figuras %}


                    {% endblock %}
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {% block graficos %}


                    {% endblock %}
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {% block tabelas %}


                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="col-sm-8 cardright">
            <div class="card central">
                <div class="card-body">
                    {% block visualizer %}


                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


</div>

<div class="modal fade" id="modal-{{trabalho.id}}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar figura</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'trabalho_add_figura' %}" enctype="multipart/form-data">
                <div class="modal-body">

                    {% csrf_token %}
                    <input type="hidden" name="trabalho_id" value="{{trabalho.id}}">
                    <div class="row">
                        <div class="col-6">
                            <label>Nome</label>
                            <input type="text" class="form-control" name="nome"/>
                        </div>
                        <div class="col-6">
                            <label>Figura</label>
                            <input type="file" class="form-control" name="arquivo"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %}






